[submodule "submodules/diff-gaussian-rasterization-depth"]
	path = submodules/diff-gaussian-rasterization-depth
	url = git@github.com:jayin92/diff-gaussian-rasterization.git
[submodule "submodules/MoGe"]
	path = submodules/MoGe
	url = git@github.com:jayin92/MoGe.git
[submodule "submodules/fused-ssim"]
	path = submodules/fused-ssim
	url = git@github.com:rahul-goel/fused-ssim.git
[submodule "submodules/FlowEdit"]
	path = submodules/FlowEdit
	url = git@github.com:jayin92/FlowEdit.git
